body {
    font-family: monospace;
    font-size: 13px;
    min-width: 1200px;
}

td {
    width: 25px;
    height: 25px;
}

table {
    border-collapse: collapse;
}

.blacked-out {
    background-color: black;
}

.not-blacked-out {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: text;
}

.not-blacked-out.selected {
    background-color: lightgreen;
}

.cluenum {
    font-size: 10px;
    position: absolute;;
    left: 2px;
    top: 0px;
    z-index: 1;
}

.cluecharacter {
    position: absolute;
    left: 9px;
    top: 2px;
}

.characterinput {
    position: absolute;
    width: 27px;
    height: 26px;
    top: -1px;
    left: -1px;
}

.mainpage {
    height: 95%;
}

.tablediv {
    float: left;
    height: 93%;
    width: 420px;
    padding-top: 20px;
}

.cluesdiv {
    float: left;
    height: 96%;
    width: 100%;
}

.chatdiv {
    height: 93%;
    width: 300px;
    float: right;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
}

.chatlog {
    background-color: #ddddff;
    position: absolute;
    top: 0;
    bottom: 27px;
    left: 0;
    right: 0;
    padding: 5px;
    border: 1px dashed black;
    overflow-y: auto;
}

.chatinputdiv {
    position: absolute;
    height: 24px;
    background-color: lightgreen;
    padding-left: 2px;
    padding-top: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px dashed black;
    border-top: none;
}

.chatinput {
    width: 240px;
    border: hidden;
    padding-top: 4px;
    height: 22px;
    float: left;
}

.chatinput.default {
    color: gray;
}

.chatinputsubmit {
    float: left;
    height: 23px;
    width: 54px;
    margin-left: 1px;
}

.cluesinner {
    margin-left: 430px;
    margin-right: 300px;
    height: 100%;
}

.acrossdownclues {
    float: left;
    padding: 5px;
    padding-bottom: 10px;
    background-color: white;
}

.acrossdownclues.selected {
    background-color: yellow;
}

.headerdiv {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.selectbox {
    float: right;
}

.sharebutton {
    float: right;
}

.authorspan {
    font-size: 12pt;
    font-weight: normal;
    margin-left: 5px;
}

.clue {
    cursor: hand;
}

.clue.filled {
    text-decoration: line-through;
    color: gray;
}

.clue.selected {
    font-weight: bold;
}

.lightbox {
    z-index: 15;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111111;
    position: absolute;
    opacity: 0.50;
}

.betatag {
    font-weight: normal;
    font-size: 11pt;
    vertical-align: super;
    margin-left: 5px;
}
