td {
	width: 25px;
	height: 25px;
}

table {
	border-collapse: collapse;
}

.blacked-out {
	background-color: black;
}

.not-blacked-out {
	width: 24px;
	height: 24px;
	position: relative;
}

.cluenum {
	font-size: 10px;
	position: absolute;;
	left: 2px;
	top: 0px;
	z-index: 1;
}

.cluecharacter {
	position: absolute;
	left: 9px;
	top: 2px;
}

.characterinput {
	position: absolute;
	width: 27px;
	height: 26px;
	top: -1px;
	left: -1px;
}

.tablediv {
	float: left;
	height: 97%;
	width: 420px;
	margin-left: -100%;
	padding-top: 20px;
}
.cluesdiv {
	float: left;
	height: 100%;
	width: 100%;
}

.cluesinner {
	margin-left: 430px;
	height: 100%;
}

.acrossdownclues {
	width: 49%;
	padding-right: 10px;
	height: 100%;
	float: left;
}
